body{
width: 100vh;
height: 100vh;
  
    background-image: linear-gradient(to bottom right,rgba(79,51,179,1),rgba(210,53,165));
    background-repeat: no-repeat;
}
.calculator_container{
    display: flex;
    padding: 20px;
    align-items: center;
    flex-direction: column;

    width: fit-content;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: -10px 10px 14px black;
    border-radius: 15px;
}
.calculator_row{
    margin: 5px auto;
}
.calculator_row button{
    width: 60px;
    height: 60px;
    border-radius: 12px;
    font-size: 20px;
    border: none;
    background-color: rgb(250, 159, 224);
    
}
.calculator_row button:hover{
    background-color:rgb(235, 191, 222) ;
}
.display_area{
    background-color: rgb(221, 234, 245);
    width: 264px;
    height: 70PX;
    border-radius: 8PX;
    margin-bottom: 5px;
    align-items: center;
    font-size: 36px;
    display: flex;
    padding: 6px;
    overflow-x: scroll;
}
